@mixin bg-h2 {
    font-family: "Roboto-Light", sans-serif;
    background-color: black;
    color: #fff;
    font-size: 33px;
    font-weight: 100;
    text-transform: uppercase;      
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2.4px;
    word-spacing: 2px;
    margin-bottom: 14px;
}
@mixin pseudo-line {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: rgb(161, 161, 161);
    border-radius: 1px;
    z-index: 1;   
    margin-left: 5px;
}
@mixin percent-level {
    position: absolute;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 10px;
    bottom: 15px;
    left: 0;
    position: fixed;
    background-color: black;
    padding: 3px 4px 2px 5px;
    color: rgb(235, 235, 235);  
}
@mixin circle {
    content: '•';
    position: absolute;
    width: 3px;
    height: 3px;
	transform: translate(50%,-50%);
	font-size: 4px;
	color: #fff;
	opacity: .75;
	border: 3px solid #000 ;
	border-radius: 50%;
    z-index: 1;
}
@mixin flag {
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
    border: 2px solid transparent; 
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}
@mixin img-member {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
@mixin img-member-wrapper {
    width: 100%;
     
}
@mixin block-h2-h2-style {
    font-family: "Roboto-Light", sans-serif;
	color: #fff;
	font-size: 32px;
	font-weight: 100;
	min-width: 80px;
	max-width: 500px;
    max-height: 150px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2.4px;
	word-spacing: 6px;
	padding: 2px 24px; 
    overflow: hidden;
    margin: 0;
}
.bg-about .wrapper {
    width: 100%;
    height: 250px;
    display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    background-image: url("../media/home/jpeg/bg-contact.jpg");  
    .block-text {
        position: absolute;
        top: 22%;
        left: 20%;
    }       
    .block-h2 {
		background-color: black;
		h2 {
			@include block-h2-h2-style();
		}
	}
    h4 {
            @include style-h4();  
        } 
}   
.our-story .wrapper {
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 5px;
}
.about-img {
    display: flex;
    width: 45%;
    height: 430px;
    margin-right: 43px;
}
.img {
    @include img-style();
}
.description {
    display: flex;
    flex-direction: column;
    width: 47%;
}
.description-text {
 align-items: flex-start;
h4 {
    @include style-h4();
    margin-top: 5px;
    margin-bottom: 20px;
}
p {
    @include p-value();
    letter-spacing: 0.1px;
&:last-of-type {
    margin-top: 23px;
} 
}   
}
.skills {
    margin-top: 8px;
    padding-right: 10px;
h4 {
    @include style-h4();
    margin-top: 5px;
    margin-bottom: 25px;
    word-spacing: 1.6px;
}    
h5 {
    position: relative;
    font-family: "Roboto-Bold", sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.2px;
    margin-bottom: 10px;
    margin-left: 1px;
}
.base {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6px;
    background-color: rgb(235, 235, 235);
    border-radius: 1px;
    }
    .level1 {
        @include pseudo-line();
        width: 90%;
    }
    .level2 {
        @include pseudo-line();
        width: 95%;
    }
    .level3 {
        @include pseudo-line();
        width: 50%;
    }
    .level4{
        @include pseudo-line();
        width: 85%;
    }
.base .circle1 {
   @include circle();
    top: 10%;
    left: 90%; 
}
.base .circle1:after {
    @include percent-level();
    content: '90%';   
}
.base .circle1::before {
    @include flag();
}
.base .circle2 {
    @include circle();
    top: 10%;
    left: 95%;
}
.base .circle2::after {
    @include percent-level();
    content: '95%';
}
.base .circle2::before {
    @include flag();
}
.base .circle3 {
    @include circle();
    top: 10%;
    left: 50%;
}
.base .circle3::after {
    @include percent-level();
    content: '50%';
}
.base .circle3::before{
    @include flag();
}
.base .circle4 {
    @include circle();
    top: 10%;
    left: 85%;
}
.base .circle4::after {
    @include percent-level();
    content: '85%';
}
.base .circle4::before {
    @include flag();
}
}
.awesome-team, .our-story {
    background-color: rgb(250, 250, 250);
}
.awesome-team .wrapper {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 55px;
    padding-bottom: 55px;
    
    .info-team {
        width: 53%;
        text-align: center;
        h3 {
            @include style-h3();
            margin-left: 5px;
        }
        p {
            @include p-value();
            margin-top: 18px;
        }
    }
}
.team-members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-top: 35px
}
.member {
    @include img-member();
    .img-wrapper {
        @include img-member-wrapper();
        img {
            @include img-style();
        }
    }
    .member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    h4 {
        font-family: 'Roboto-Light', sans-serif;
        font-size: 16px;
        font-weight: 100;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        margin: 27px 0px 0px 0px;
    }
    p {
        @include p-value();
        margin-top: 8px;
        margin-left: 0px;
        line-height: 18px;
        text-align: left;
        word-spacing: 0.5px;
        margin: 8px, 30px, 0px, 0px;
    
    &:first-of-type {
        font-family: "Roboto-Bold", sans-serif;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: none; 
        line-height: 15px;
        margin-top: 2px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
}
}
@media all and (max-width: 320px) {
.ham {
@include ham-style();
}
.close-icon {
display: none;
}
.menu__box {
@include menu__box-style();
}
.showMenu {
transform: translateY(0);
}	  
li {
padding: 16px 0;
}
.hamburger-menu .menu__item:hover {
text-decoration: underline;
}
.hamburger-menu li {
margin-top: 15px;
}
.menu__item {
@include menu__item-style();
} 
.menu__box a:hover {
color: #000;
}
.nav {
    position: absolute;
    right: 300px;
    overflow: hidden;
}
.nav li:first-child:before {
    display: none;
}
.header .logo {
    position: absolute;
    right: 5%;
    overflow: hidden;
}
    .bg-about .wrapper {
        width: 100%;
        height: 160px;
        margin-left: 0px;
        z-index: -1;
        .block-text h2 {
            max-width: 250px;
            max-height: 80px;
            font-size: 14px;
            overflow: hidden;
        }
    h4 {
        top: 40%;
        left: 15px;
        font-size: 10px;
    }
    p {
        top: 55%;
        left: 15px;
        font-size: 6px;
        line-height: 6px;
    }
}
.about-img {
    width: 100%;
    height: 300px;
    justify-content: center;
}
.our-story .wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.description {
    margin: auto;
    width: 90%;
    h4 {
       margin: 10px 50px;
    }
}
.awesome-team .wrapper {
    width: 100%;
    margin: 0px;
}
.awesome-team .wrapper .info-team {
    width: 100%;
}
.team-members {
    flex-direction: column;
    margin-top: auto;
}
.member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
    width: 100%;
    height: 270px;
}
.member-1, .member-2, .member-3 {
    width: 100%;
}
.member-1 h4, .member-2 h4, .member-3 h4 {
    margin-top: 10px;
}
.member-1 p, .member-2 p, .member-3 p {
    margin-top: 5px;
}
}
@media (min-width: 330px) and (max-width: 360px) {
    .ham {
		@include ham-style();
	  }
	  .close-icon {
		display: none;
	  }
	  .menu__box {
		@include menu__box-style();
	  }
	  .showMenu {
		transform: translateY(0);
	  }
	  
	  li {
		padding: 16px 0;
	  }
	.hamburger-menu .menu__item:hover {
		text-decoration: underline;
	}
	  .hamburger-menu li {
		margin-top: 15px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  
	  .menu__box a:hover {
		color: #000;
	  }
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
       .bg-about .wrapper {
           width: 100%;
           height: 160px;
           margin-left: 0px;
           z-index: -1;
           .block-text h2 {
            max-width: 250px;
            max-height: 80px;
            font-size: 14px;
            overflow: hidden;
        }
       h4 {
           top: 40%;
           left: 15px;
           font-size: 10px;
       }
       p {
           top: 55%;
           left: 15px;
           font-size: 6px;
           line-height: 6px;
       }
   }
   .about-img {
       width: 100%;
       height: 300px;
       justify-content: center;
   }
   .our-story .wrapper {
       flex-direction: column;
       width: 100%;
       padding: 0px;
       margin-top: 10px;
   }
   .description {
       margin: auto;
       width: 90%;
       h4 {
          margin: 10px 50px;
       }
   }
   .awesome-team .wrapper {
       width: 100%;
       margin: 0px;
   }
   .awesome-team .wrapper .info-team {
       width: 100%;
   }
   .team-members {
       flex-direction: column;
       margin-top: auto;
   }
   .member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
       width: 100%;
       height: 270px;
   }
   .member-1, .member-2, .member-3 {
       width: 100%;
   }
   .member-1 h4, .member-2 h4, .member-3 h4 {
       margin-top: 10px;
   }
   .member-1 p, .member-2 p, .member-3 p {
       margin-top: 5px;
   }
   }
   @media (min-width: 360px) and (max-width: 375px) {
    .ham {
		@include ham-style();
	}
	.close-icon {
		display: none;
	}
	.menu__box {
		@include menu__box-style();
	}
	.showMenu {
		transform: translateY(0);
	}
	  
	li {
		padding: 16px 0;
	}
	.hamburger-menu .menu__item:hover {
		text-decoration: underline;
	}
	.hamburger-menu li {
		margin-top: 15px;
	}
	.menu__item {
		@include menu__item-style();
	}
	  
	.menu__box a:hover {
		color: #000;
	}
    .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header.logo {
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
       .bg-about .wrapper {
           width: 100%;
           height: 160px;
           margin-left: 0px;
           z-index: -1;
           .block-text h2 {
            max-width: 260px;
            max-height: 100px;
            font-size: 14px;
            overflow: hidden;
        }
       h4 {
           top: 40%;
           left: 15px;
           font-size: 10px;
       }
       p {
           top: 55%;
           left: 15px;
           font-size: 6px;
           line-height: 6px;
       }
   }
   .about-img {
       width: 100%;
       height: 300px;
       justify-content: center;
   }
   .our-story .wrapper {
       flex-direction: column;
       width: 100%;
       padding: 0px;
       margin-top: 10px;
   }
   .description {
       margin: auto;
       width: 90%;
       h4 {
          margin: 10px 50px;
       }
   }
   .awesome-team .wrapper {
       width: 100%;
       margin: 0px;
   }
   .awesome-team .wrapper .info-team {
       width: 100%;
   }
   .team-members {
       flex-direction: column;
       margin-top: auto;
   }
   .member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
       width: 100%;
       height: 270px;
   }
   .member-1, .member-2, .member-3 {
       width: 100%;
   }
   .member-1 h4, .member-2 h4, .member-3 h4 {
       margin-top: 10px;
   }
   .member-1 p, .member-2 p, .member-3 p {
       margin-top: 5px;
   }
   }
   @media (min-width: 376px) and (max-width: 414px) {
    .ham {
		@include ham-style();
		top: 3%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		height: 70%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 35px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 20%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
       .bg-about .wrapper {
           width: 100%;
           height: 160px;
           margin-left: 0px;
           z-index: -1;
           .block-text h2 {
            max-width: 260px;
            max-height: 100px;
            font-size: 14px;
            overflow: hidden;
        }
       h4 {
           top: 40%;
           left: 15px;
           font-size: 10px;
       }
       p {
           top: 55%;
           left: 15px;
           font-size: 6px;
           line-height: 6px;
       }
   }
   .about-img {
       width: 100%;
       height: 300px;
       justify-content: center;
   }
   .our-story .wrapper {
       flex-direction: column;
       width: 100%;
       padding: 0px;
       margin-top: 10px;
   }
   .description {
       margin: auto;
       width: 90%;
       h4 {
          margin: 10px 50px;
       }
   }
   .awesome-team .wrapper {
       width: 100%;
       margin: 0px;
   }
   .awesome-team .wrapper .info-team {
       width: 100%;
   }
   .team-members {
       flex-direction: column;
       margin-top: auto;
   }
   .member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
       width: 100%;
       height: 270px;
   }
   .member-1, .member-2, .member-3 {
       width: 100%;
   }
   .member-1 h4, .member-2 h4, .member-3 h4 {
       margin-top: 10px;
   }
   .member-1 p, .member-2 p, .member-3 p {
       margin-top: 5px;
   }
   }
   @media (min-width: 415px) and (max-width: 480px){
    .ham {
		@include ham-style();
		top: 3%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		height: 70%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 35px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 20%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
       .bg-about .wrapper {
           width: 100%;
           height: 160px;
           margin-left: 0px;
           z-index: -1;
           .block-text h2 {
            max-width: 260px;
            max-height: 100px;
            font-size: 14px;
            overflow: hidden;
        }
       h4 {
           top: 40%;
           left: 15px;
           font-size: 10px;
       }
       p {
           top: 55%;
           left: 15px;
           font-size: 6px;
           line-height: 6px;
       }
   }
   .about-img {
       width: 100%;
       height: 300px;
       justify-content: center;
   }
   .our-story .wrapper {
       flex-direction: column;
       width: 100%;
       padding: 0px;
       margin-top: 10px;
   }
   .description {
       margin: auto;
       width: 90%;
       h4 {
          margin: 10px 50px;
       }
   }
   .awesome-team .wrapper {
       width: 100%;
       margin: 0px;
   }
   .awesome-team .wrapper .info-team {
       width: 100%;
   }
   .team-members {
       flex-direction: column;
       margin-top: auto;
   }
   .member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
       width: 100%;
       height: 270px;
   }
   .member-1, .member-2, .member-3 {
       width: 100%;
   }
   .member-1 h4, .member-2 h4, .member-3 h4 {
       margin-top: 10px;
   }
   .member-1 p, .member-2 p, .member-3 p {
       margin-top: 5px;
   }
   }
   @media (min-width: 768px) and (max-width: 1024px) {
    .ham {
		@include ham-style();
		top: 2%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		width: 40%;
		height: 50%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 45px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 10%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
       .bg-about .wrapper {
           width: 100%;
           height: 160px;
           margin-left: 0px;
           background-position: center;
           z-index: -1;
           .block-text h2 {
            max-width: 300px;
            max-height: 120px;
            font-size: 20px;
            overflow: hidden;
        }
       h4 {
           top: 40%;
           left: 15px;
           font-size: 10px;
           margin-top: 20px;
       }
       p {
           top: 55%;
           left: 15px;
           font-size: 6px;
           line-height: 6px;
           margin-top: 15px;
       }
   }
    .about-img {
        width: 100%;
        height: 180px;
        margin-left: 40px;
    }
   .our-story .wrapper {
       flex-direction: column;
       width: 100%;
       padding-top: 10px;
   }
   .description {
       margin: auto;
       width: 90%;
       h4 {
          margin: 10px 50px;
       }
   }
   .awesome-team .wrapper {
       width: 100%;
       margin: 0px;
   }
   .awesome-team .wrapper .info-team {
       width: 100%;
   }
   .team-members {
       flex-direction: row;
       margin-top: auto;
   }
   .member-1 .img-wrapper, .member-2 .img-wrapper, .member-3 .img-wrapper {
       width: 100%;
       height: 270px;
   }
   .member-1, .member-2, .member-3 {
       width: 100%;
   }
   .member-1 h4, .member-2 h4, .member-3 h4 {
       margin-top: 10px;
       margin-bottom: auto;
       margin-left: 18%;
   }
   .member-1 p, .member-2 p, .member-3 p {
       margin-top: 5px;
   }
   }
   
