@mixin style-h3 {
    font-family: "Roboto-light", sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 1.3px;
    letter-spacing: 6.8px;
    margin: 0px; 
}
@mixin block-img {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}
@mixin img-wrapper-style {
    width: 250px;
    height: 178px;
}
@mixin img-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    vertical-align: middle;
}
@mixin style-h4 {
    font-family: "Roboto-Light", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 3.9px;
}
@mixin p-value {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 21px;
    word-spacing: 1px;
    letter-spacing: 0px;
          
}
.bg-contact .wrapper {
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    background-image: url("../media/home/jpeg/bg-contact.jpg");     
    background-repeat: no-repeat; 
    background-size: cover;
    height: 250px;
    background-position: center bottom;
    .block-text {
        position: absolute;
        top: 22%;
        left: 20%;
    }   
    .block-h2 {
		background-color: black;
		h2 {
			font-family: "Roboto-Light", sans-serif;
            color: #fff;
            font-size: 32px;
            font-weight: 100;
            min-width: 100px;
            max-width: 500px;
            max-height: 150px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2.4px;
            word-spacing: 6px;
            padding: 2px 24px; 
            overflow: hidden;
		}
	}
        h4 {
        @include style-h4();
        }   
}   
.office-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 54px;
}
.info {
    padding-top: 3px;
    padding-right: 2px;
        h3 {
        @include style-h3();
        }
        p {
            font-family: "Roboto-Regular", sans-serif;
            font-size: 10px;
            margin-bottom: 20px;
            word-spacing: 0.2px;
            letter-spacing: 0.6px;
            &:first-of-type {
            position: relative;
            font-family: "Roboto-light", sans-serif;
            font-size: 11px;
            line-height: 1px;
            word-spacing: 0.3px;
            letter-spacing: 0.3px;
            margin-bottom: 48px;
                &::after {
                content: '';
                position: absolute;
                top: 18px;
                left: 0px;
                width: 43px;
                height: 1px;
                background-color: #000;
                } 
            }
            &:nth-of-type(4) {
                 padding-top: 8px;
                 margin-bottom: 0px;
                 line-height: 1px;
            }
            &:nth-of-type(4), &:nth-of-type(5) {
                 font-weight: bold;
                 color: rgb(107, 107, 107);
                 letter-spacing: 0.9px;
                }
        }
                
                & span {
                font-family: "Roboto-Bold", sans-serif;
                font-size: 10px;
                font-weight: 700;
                color: #000;
                word-spacing: 0.2px;
                }
                a:hover {
                    color: #000;
                }
        }
.data {
    margin-left: 50px;
    padding-top: 2px;
}
.form {
    display: grid;
    grid-template-columns: 255px 255px;
    grid-template-rows: 28px 110px;
    row-gap: 22px;  
    column-gap: 22px;
}
.name {
    grid-column: 1;
    grid-row: 1;
    &::placeholder {
        font-family: "Roboto-Italic", sans-serif;
        font-size: 10px;
        padding-left: 3px;
    }
}
.email {
    grid-column: 2;
    grid-row: 1;
    &::placeholder {
        font-family: "Roboto-Italic", sans-serif;
        font-size: 10px;
        padding-left: 3px;
    }
}
.message {
    grid-column: 1/span 2;
    grid-row: 2;
    &::placeholder {
        font-family: "Roboto-Italic", sans-serif;
        font-size: 10px;
        transform: translateY(-50px) translateY(50%);
        padding-left: 3px;  
    }
}
.btn-form {
    grid-column: 1;
    grid-row: 3;
    width: 156px;
    height: 28px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 7%;
    margin-right: 15px;
    transform: translateX(-5px);
    padding-left: 14px;
    margin-top: -3px;
        &:hover {
            background-color: rgb(14, 13, 13);
            border: 1px solid rgb(225, 225, 225);
        }
        &:focus {
            background-color: rgb(20, 20, 20);
        }
    }
.address {
    margin-top: 55px;
}  
.map {
    width: 100%;
    height: 100%;
    position: relative;
    filter: grayscale(100%);
    iframe {
        width: 100%;
        height: 255px;
    }
    .marker {
        position: absolute;
        top: 26%;
        left: 45%;
        width: 230px;
        height: 90px;
        background-color: #fff;
        opacity: 90%;
        color: #000;
        &::after {
            content: ''; 
            position: absolute;
            left: 105px; 
            top: 90px;
            border: 10px solid transparent;
            border-top: 25px solid #fff;
        }
        p {
            font-family: "Roboto-light", sans-serif;
            font-size: 10px;
            text-align: center;
            line-height: 12px;
            &:first-child {
                font-family: "Roboto-Bold", sans-serif;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0px;
                word-spacing: -1px;
                margin-top: 20px;
                margin-left: 2px;
            }
        }

    }
}
.values {
    padding-top: 40px;
    .values-wrapper {
        width: 67%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 30px;
    }
    .info-values {
        width: 50%;
        text-align: center;
        h3 {
            @include style-h3();
            margin-left: 5px;
        }
        p {
            @include p-value();
            margin-top: 18px;
        }
    }
}
    .block-values {
        width: 93%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        margin-top: 30px;
    .first-block, .second-block, .third-block {
        @include block-img();
        .img-wrapper {
            @include img-wrapper-style();
        img {
            @include img-style();
        }
    }
        .info-block {
            display: flex;
            flex-direction: column;
            padding: 0px;
        }
        h4 {
            @include style-h4();
            word-spacing: 1.5px;
            margin-left: 7px;
        }
        p {
            @include p-value();
            margin-top: 0px;
            padding: 3px 7px 0px 7px;
        }
    }
    
    }
    .third-block h4:last-of-type {
        letter-spacing: 4.5px;
        word-spacing: -0.5px;
    }
    @media all and (max-width: 320px) {
        .ham {
            @include ham-style();
          }
          .close-icon {
            display: none;
          }
          .menu__box {
            @include menu__box-style();
          }
          .showMenu {
            transform: translateY(0);
          }
          
          li {
            padding: 16px 0;
          }
        .hamburger-menu .menu__item:hover {
            text-decoration: underline;
        }
          .hamburger-menu li {
            margin-top: 15px;
        }
          .menu__item {
            @include menu__item-style();
          }
          .menu__box a:hover {
            color: #000;
          }
       .nav {
           position: absolute;
           right: 300px;
           overflow: hidden;
       }
       .nav li:first-child:before {
           display: none;
       }
       .header .logo {
           position: absolute;
           right: 5%;
           overflow: hidden;
       }
       .bg-contact .wrapper {
        z-index: -1;
        .block-text h2 {
            max-width: 250px;
            max-height: 80px;
            font-size: 14px;
            overflow: hidden;
        }
       h4 {
           left: 5%;
       }
    }
.office-info {
    flex-direction: column;
    margin-top: 10px;
    .info {
        margin-left: 10px;
    }
    .data {
         margin-left: 10px;
    .form {
        display: grid;
        grid-template-columns: 140px 140px;
        grid-template-rows: 28px 60px;
        row-gap: 12px;
        column-gap: 12px;
        .btn-form {
            margin-left: 5px;
        }        
    }         
}
}
.address{
    .map {
        z-index: -1;
    iframe {
    width: 100%;
    height: 200px;
    }
    .marker {
    width: 120px;
    height: 70px;
    &::after {
        left: 40%;
        top: 100%;
        border: 8px solid transparent;
        border-top: 15px solid #fff;
    }
    p {
        font-size: 8px;
        line-height: 8px;
    }
    }
}
}
.values {
    padding-top: 20px;
.values-wrapper{
    margin-bottom: 0px;
.info-values {
    width: 90%;
}
}
.block-values {
    width: 100%;
    flex-direction: column;
    .first-block, .second-block, .third-block {
        width: 100%;
    }
}
}
}
@media (min-width: 330px) and (max-width: 360px) {
    .ham {
		@include ham-style();
	  }
	  .close-icon {
		display: none;
	  }
	  .menu__box {
		@include menu__box-style();
	  }
	  .showMenu {
		transform: translateY(0);
	  }
	  
	  li {
		padding: 16px 0;
	  }
	.hamburger-menu .menu__item:hover {
		text-decoration: underline;
	}
	  .hamburger-menu li {
		margin-top: 15px;
	}
	  .menu__item {
		@include menu__item-style();
      }
	  .menu__box a:hover {
		color: #000;
	  }
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       margin-left: 0px;
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
   .bg-contact .wrapper {
    z-index: -1;
    .block-text h2 {
        max-width: 250px;
        max-height: 80px;
        font-size: 14px;
        overflow: hidden;
    }
   h4 {
       left: 5%;
   }
}
.office-info {
flex-direction: column;
margin-top: 10px;
.info {
    margin-left: 10px;
}
.data {
     margin-left: 10px;
.form {
    display: grid;
    grid-template-columns: 166px 166px;
    grid-template-rows: 28px 60px;
    row-gap: 12px;
    column-gap: 12px;
    .btn-form {
        margin-left: 5px;
    }         
}         
}
}
.address{
.map {
    z-index: -1;
iframe {
width: 100%;
height: 200px;
}
.marker {
width: 120px;
height: 70px;
&::after {
    left: 40%;
    top: 100%;
    border: 8px solid transparent;
    border-top: 15px solid #fff;
}
p {
    font-size: 8px;
    line-height: 8px;
}
}
}
}
.values {
padding-top: 20px;
.values-wrapper{
margin-bottom: 0px;
.info-values {
width: 90%;
}
}
.block-values {
width: 100%;
flex-direction: column;
.first-block, .second-block, .third-block {
    width: 100%;
    .info-block {
        align-items: center;
    }
}
}
}
}
@media (min-width: 370px) and (max-width: 414px) {
    .ham {
		@include ham-style();
		top: 3%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		height: 70%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 35px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 20%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       margin-left: 0px;
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
   .bg-contact .wrapper {
    z-index: -1;
    .block-text h2 {
        max-width: 260px;
        max-height: 100px;
        font-size: 14px;
        overflow: hidden;
   }
   h4 {
       top: 50%;
       left: 5%;
   }
}
.office-info {
flex-direction: column;
margin-top: 10px;
.info {
    margin-left: 10px;
}
.data {
     margin-left: 10px;
.form {
    display: grid;
    grid-template-columns: 166px 166px;
    grid-template-rows: 28px 60px;
    row-gap: 12px;
    column-gap: 12px;
    .btn-form {
        margin-left: 5px;
    }         
}         
}
}
.address{
.map {
    z-index: -1;
iframe {
width: 100%;
height: 200px;
}
.marker {
width: 120px;
height: 70px;
&::after {
    left: 40%;
    top: 100%;
    border: 8px solid transparent;
    border-top: 15px solid #fff;
}
p {
    font-size: 8px;
    line-height: 8px;
}
}
}
}
.values {
padding-top: 20px;
.values-wrapper{
margin-bottom: 0px;
.info-values {
width: 90%;
}
}
.block-values {
width: 100%;
flex-direction: column;
.first-block, .second-block, .third-block {
    width: 100%;
    .info-block {
        align-items: center;
    }
}
}
}
}
@media (min-width: 415px) and (max-width: 480px) {
    .ham {
		@include ham-style();
		top: 3%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		height: 70%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 35px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 20%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       margin-left: 0px;
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
   .bg-contact .wrapper {
    z-index: -1;
    .block-text h2 {
        max-width: 260px;
        max-height: 100px;
        font-size: 14px;
        overflow: hidden;
   }
   h4 {
       top: 50%;
       left: 5%;
   }
}
.office-info {
flex-direction: column;
margin-top: 10px;
.info {
    margin-left: 10px;
}
.data {
     margin-left: 10px;
.form {
    display: grid;
    grid-template-columns: 166px 166px;
    grid-template-rows: 28px 60px;
    row-gap: 12px;
    column-gap: 12px;
    .btn-form {
        margin-left: 5px;
    }         
}         
}
}
.address{
.map {
    z-index: -1;
iframe {
width: 100%;
height: 200px;
}
.marker {
width: 120px;
height: 70px;
&::after {
    left: 40%;
    top: 100%;
    border: 8px solid transparent;
    border-top: 15px solid #fff;
}
p {
    font-size: 8px;
    line-height: 8px;
}
}
}
}
.values {
padding-top: 20px;
.values-wrapper{
margin-bottom: 0px;
.info-values {
width: 90%;
}
}
.block-values {
width: 100%;
flex-direction: column;
.first-block, .second-block, .third-block {
    width: 100%;
    .info-block {
        align-items: center;
    }
}
}
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ham {
		@include ham-style();
		top: 2%;
	}
	.close-icon {
		display: none;
	  }
	.menu__box {
		@include menu__box-style();
		width: 40%;
		height: 50%;
	  }
	  
	.showMenu {
		transform: translateY(0);
	}
	.hamburger-menu li {
		margin-top: 45px;
	}
	  .menu__item {
		@include menu__item-style();
	  }
	  .menu__box a:hover {
		color: #000;
	  }
	.header button {
		width: 40px;
		height: 30px;
		margin-left: 30px;
		padding-bottom: 10px;
	svg {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 10%;
	}
}
   .nav {
       position: absolute;
       right: 300px;
       overflow: hidden;
   }
   .nav li:first-child:before {
       display: none;
   }
   .header .logo {
       margin-left: 0px;
       position: absolute;
       right: 5%;
       overflow: hidden;
   }
   .bg-contact .wrapper {
    z-index: -1;
    .block-text h2 {
        max-width: 300px;
        max-height: 120px;
        font-size: 20px;
        overflow: hidden;
    }
   h4 {
       top: 50%;
       left: 5%;
   }
}
.office-info {
flex-direction: row;
margin-top: 10px;
.info {
    margin-left: 10px;
}
.data {
     margin-left: 10px;
.form {
    display: grid;
    grid-template-columns: 166px 166px;
    grid-template-rows: 28px 60px;
    row-gap: 12px;
    column-gap: 12px;
    .btn-form {
        margin-left: 5px;
    }         
}         
}
}
.address{
.map {
    z-index: -1;
iframe {
width: 100%;
height: 200px;
}
.marker {
width: 120px;
height: 70px;
&::after {
    left: 40%;
    top: 100%;
    border: 8px solid transparent;
    border-top: 15px solid #fff;
}
p {
    font-size: 8px;
    line-height: 8px;
}
}
}
}
.values {
padding-top: 20px;
.values-wrapper{
margin-bottom: 0px;
.info-values {
width: 90%;
}
}
.block-values {
width: 100%;
flex-direction: row;
.first-block, .second-block, .third-block {
    width: 100%;
     .img-wrapper{
        width: 180px;
    }
    .info-block {
        align-items: center;
        h4 {
            margin-bottom: 5px;
        }
    }
}
}
}
}


