
$var1: #000000;

.footer .wrapper {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 48px;
}
.footer .logo {
	margin-bottom: 28px;
}
.social-media {
	border-top: 1px solid  rgb(243, 243, 243);
	border-bottom: 1px solid rgb(243, 243, 243);
	display: flex;
	list-style-type: none;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	li {
		margin-left: 14px;
		margin-right: 14px;
	}
	a {
		padding: 5px;
	}
}
	a:hover {
		color: #383737;
	}
.footer p {
	font-family: "Roboto-regular", sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: rgb(88, 88, 88);
	text-transform: uppercase;
	letter-spacing: 0.2px;
	word-spacing: 0.8px;
	margin-top: 23px;
}
.footer span {
	color: $var1;
}
