@mixin bg-h2 {
    font-family: "Roboto-Light", sans-serif;
    background-color: black;
    color: #fff;
    font-size: 33px;
    font-weight: 100;
    height: 40px;
    text-transform: uppercase;      
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2.4px;
    word-spacing: 2px;
    margin-bottom: 14px;
    position: absolute;
    top: 22%;
    left: 268px;
    padding-left: 2px;
}
@mixin pseudo-line {
    content: '';
    position: absolute;
    top: 27px;
    left: 0px;
    width: 88%;
    height: 2px;
    background-color: rgb(161, 161, 161);
    border-radius: 1px;
    z-index: 1;   
}
@mixin circle {
    content: '•';
    position: absolute;
    width: 3px;
    height: 3px;
	transform: translate(50%,-50%);
	font-size: 4px;
	color: #fff;
	opacity: .75;
	border: 3px solid #000 ;
	border-radius: 50%;
    z-index: 1;
}
@mixin flag {
    content: '';
    position: absolute;
    top: 100%;
    right: 86%;
    border: 2px solid transparent; 
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}
@mixin img-member {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
@mixin img-member-wrapper {
    width: 100%;
    height: 310px;   
}
.bg-about .wrapper {
    width: 100%;
    height: 250px;
    display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    background-image: url("../media/home/jpeg/bg-contact.jpg");         
        h2 {
            @include bg-h2();
            width: 418px;
    }
        h4 {
        @include style-h4();
        position: absolute;
        top: 53%;
        left: 267px;
        } 
        p {
        @include p-value();
        position: absolute;
        top: 62%;
        left: 269px;
        }
}   
.our-story .wrapper {
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 50px;
    padding-right: 15px;
}
.about-img {
    display: flex;
    width: 379px;
    height: 430px;
    margin-right: 0px;
}
.img {
    @include img-style();
}
.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 38px;
}
// &:hover span {
//     animation:MyAnimation1 3s infinite;
// }
// @keyframes MyAnimation1 {
//     from {transform: rotate(0);}
//     to {transform: rotate(360deg);}
//     from {fill:darkorchid}
//     to {fill: darkblue;}
// }
.description-text {
 align-items: flex-start;
h4 {
    @include style-h4();
    margin-top: 5px;
    margin-bottom: 20px;
}
p {
    @include p-value();
    letter-spacing: 0.1px;
&:last-of-type {
    margin-top: 23px;
} 
}   
}
.skills {
    margin-top: 8px;
h4 {
    @include style-h4();
    margin-top: 5px;
    margin-bottom: 25px;
    word-spacing: 1.6px;
}    
p {
    position: relative;
    font-family: "Roboto-Bold", sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.2px;
    margin-bottom: 34px;
    margin-left: 1px;
    &::after {
        content: '';
        position: absolute;
        top: 25px;
        left: 0px;
        width: 98%;
        height: 6px;
        background-color: rgb(235, 235, 235);
        border-radius: 1px;
    }
    &:nth-of-type(1):before {
        @include pseudo-line();
    }
    &:nth-of-type(2):before{
        @include pseudo-line();
        width: 93%;
    }
    &:nth-of-type(3):before{
        @include pseudo-line();
        width: 49%;
    }
    &:nth-of-type(4):before{
        @include pseudo-line();
        width: 80%;
    }
}
span {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 10px;
    position: fixed;
    background-color: black;
    padding: 3px 4px 2px 5px;
    color: rgb(235, 235, 235);  
}
.photoshop {
    margin-left: 292px;
    position: relative;
    &::after {
        @include circle(); 
        top: 29px;
        right: 27px; 
    }
        &::before {
        @include flag();

        }      
}
.branding {
    margin-left: 320px;
    position: relative;
    &::after {
        @include circle(); 
        top: 29px;
        right: 27px; 
    } 
    &::before {
        @include flag(); 
        right: 87%; 
}
}
.photography {
    margin-left: 130px;
    position: relative;
    &::after {
        @include circle(); 
        top: 29px;
        right: 27px; 
    }
&::before {
    @include flag();
}
}
.web-design {
    margin-left: 260px;
    position: relative;
    &::after {
        @include circle(); 
        top: 29px;
        right: 27px; 
    }
    &::before {
        @include flag();
}
}
}
.awesome-team, .our-story {
    background-color: rgb(250, 250, 250);
}
.awesome-team .wrapper {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 55px;
    
    .info-team {
        width: 53%;
        text-align: center;
        h3 {
            @include style-h3();
            margin-left: 5px;
        }
        p {
            @include p-value();
            margin-top: 18px;
        }
    }
}
.team-members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-top: 35px
}
.member-1, .member-2, .member-3 {
    @include img-member();
    align-items: flex-start;
    .img-wrapper {
        @include img-member-wrapper();
        img {
            @include img-style();
        }
    }
    h4 {
        font-family: 'Roboto-Light', sans-serif;
        font-size: 16px;
        font-weight: 100;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        margin: 22px 0px 0px 35px;
    }
    p {
        @include p-value();
        margin-top: 8px;
        margin-left: 33px;
        margin-right: 30px;
        line-height: 18px;
        text-align: left;
        word-spacing: 0.5px;
        margin: 8px, 30px, 0px, 33px;
    
    &:first-of-type {
        font-family: "Roboto-Bold", sans-serif;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: none; 
        line-height: 15px;
        margin-top: 2px;
        margin-bottom: 0px;
        margin-left: 32px;
    }
}
}
.member-1 h4 {
    margin-left: 35px ;
}
.member-2 h4 {
    margin-left: 32px;
}
.member-3 h4 {
    margin-left: 33px ;
}
.member-1 p:first-of-type {
    margin-left: 35px;
}

@media all and (max-width: 360px) {
 #menu__toggle {
    opacity: 0;
}
      .menu__btn {
        display: flex; 
        align-items: center; 
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.nav {
    position: absolute;
    right: 300px;
    overflow: hidden;
}
.logo {
    position: absolute;
    left: 5px;
    overflow: hidden;
}
                            // .adv-type1, .adv-type2 {
                            //     width: 100%;
                            //     height: 100px;
                            //     h2 {
                            //         font-size: 10px;
                            //         width: 200px;
                            //         height: 20px;
                            //     }
                            //     p {
                            //         font-size: 8px;
                            //         width: 150px;
                            //     }
                            // }
                            //     .slider .adv-wrapper {
                            //         width: 100%;
                            //         height: 100px;
                            //     }

.bg-about .wrapper {
    height: 150px;
    h2 {
        width: 60%;
        left: 15px;
        font-size: 14px;
        height: 20px;
    }
    h4 {
        top: 40%;
        left: 15px;
        font-size: 10px;
    }
    p {
        top: 55%;
        left: 15px;
        font-size: 6px;
        line-height: 6px;
    }
}
.about-img {
    width: 220px;
    height: 280px;
    justify-content: center;
}
.our-story .wrapper {
    flex-direction: column;
    padding-top: 10px;
}
.description {
    margin-left: 0px;
    h4 {
        align-items: center;
    }
}
.skills {}

}